<ion-content [fullscreen]="true" class="container" >
  <!-- Encabezado colapsable -->
  <div id="container">
    <ion-title size="large" class="color-changing-title">
      Local Storage
    </ion-title>
    
  </div>
  

  <br><br><br><br> <br><br>  <!-- Saltos de línea -->

  <div id="container"> <!-- Contenedor principal --> <!-- Inicio del Div -->

    <br><br> <!-- Saltos de línea -->

    <div >
      <ion-label class="my-input highlight">{{recovertext}}</ion-label>

    </div>
    
    <br><br>
    
    <input type="text" [(ngModel)]="receivetext" placeholder="Ingrese su texto a guardar" class="my-input">
    
    <br><br>
    

    <button class="my-button" (click)="print()">Enviar</button> <!-- Botón para guardar el texto en localStorage -->
 <!-- Estilos en línea -->
    <style>
      .my-button {
        background-color: #007bff; /* Establece el color de fondo del botón */
        color: #000000; /* Establece el color de texto del botón */
        border: none; /* Quita el borde del botón */
        border-radius: 20px; /* Establece el radio de borde del botón */
        box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3); /* Agrega una sombra al botón */
        padding: 10px 20px; /* Establece el padding del botón */
        font-size: 1.2rem; /* Establece el tamaño de fuente del botón */
      }
    </style>

    <br><br> <!-- Saltos de línea -->

  </div> <!-- Fin del Div -->
  

  <div id="container">
    <br><br><br><br><br><br>

    <ion-button id="present-alert" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="ion-text-center">ir a youtube?</ion-button>

<ion-alert
  trigger="present-alert"
  header="Acabaste de ser Rick Roleado"
  subHeader="Mensaje Importante"
  message="Que bonita aplicacion no? JAJAJAJ"
  [buttons]="alertButtons"
>
</ion-alert>
    </div>
</ion-content>

<style>
  .highlight {
    border: 1px solid #00BFFF; /* Agrega un borde sólido de 1px con el color Celeste */
    padding: 5px; /* Agrega un poco de espacio dentro del borde para separarlo del texto */
    background-color: #000000; /* Establece un color de fondo Celeste claro */
  }
</style>